<!-- 
  WEB322 Assignment 2
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 29/6/2021
  Live demo: https://web322-a2-omar-khan.herokuapp.com/
  github repo: https://github.com/lowsound42/web322a2
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->
    
    <div class="container spec-footer">
      <footer class="text-center text-lg-start bg-light text-muted top-buffer">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <h4>Get in touch with us:</h4>
          </div>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </section>
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Hoster
                </h6>
                <p>
                  We're the premium web hosting service coming at you out of Toronto, Canada.
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Cloud Services</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Web Hosting</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Dedicated Servers</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">WordPress</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="./plans" class="text-reset">Plans</a>
                </p>
                <p>
                  <a href="./registration" class="text-reset">Registration</a>
                </p>
                <p>
                  <a href="./login" class="text-reset">Login</a>
                </p>
                <p>
                  <a href="./" class="text-reset">Home</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> Toronto, Canada, right next to the huge Loblaws at Maple Leaf
                  Gardens</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  <a href="mailto:okhan27@myseneca.ca">okhan27@myseneca.ca</a>
                </p>
                <p>
                  <i class="fas fa-phone me-3"></i>
                  <a href='tel:+1(555)555-5555'>+1(555)555-5555</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          &copy;
          <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          <a class="text-reset fw-bold" href="./">HOSTER</a>
        </div>
      </footer>
    </div>
  </div>