  <form onsubmit="submitForm(event);" enctype="multipart/form-data" id="planForm" class="centerBox">
  <div class="row">
    <div class="col-lg-12 form-group">
      <label for="title">Title</label>
      <input name="title" class="form-control" type="text">
    </div>
    </div>
    <div class="row">
      <div class="col-lg-12 form-group">
        <label for="title">Description</label>
        <input name="title" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 form-group">
        <label for="title">Price</label>
        <input name="title" class="form-control" type="number">
      </div>
    </div>
    <ul class="listRemove row">
        <li class="col-lg-12 form-group">
          <label for="title">Items</label><input name="title" class="form-control" type="textarea">
        </li>
    </ul>
    <div class="row"><div class="col-lg-12 form-group">
        <label for="PlanPicture">Picture</label>
        <input name="PlanPicture" class="form-control" type="file">
    </div>
  </div>
  <input type="submit">
 </form>
