<!-- 
  WEB322 Assignment 2
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 29/6/2021
  Live demo: https://web322-a2-omar-khan.herokuapp.com/
  github repo: https://github.com/lowsound42/web322a2
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oops!</title>
  <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap-5.0.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/custom.css">

</head>


<body>
  <header>
  {{>header_partial}}
  </header>
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <img src="./assets/erik-mclean-sxiSod0tyYQ-unsplash.jpg" class="img-fluid spec-404-image" alt="Responsive image"
        width="500">

      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">404</span>
          <div class="mb-4 lead">The page you are looking for was not found.</div>
          <a href="/" class="btn btn-link">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
  <script src="./bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
</body>

</html>