<!-- 
  WEB322 Assignment 2
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 29/6/2021
  Live demo: https://web322-a2-omar-khan.herokuapp.com/
  github repo: https://github.com/lowsound42/web322a2
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->

<body>
  <div class="container bottom-buffer">
    <div class="container holder top-buffer reg flexDash">
    <div>
      <h3 class="well bottom-buffer top-padding">Welcome to the Admin Dashboard, {{firstName}}</h3>
      <button class="btn btn-primary btn-md px-4 me-md-2" onclick="viewPlans();">View Plans</button>
      <button class="btn btn-primary btn-md px-4 me-md-2" onclick="planForm();">Create Plan</button>
     </div>       
     <div>
    </div>
  </div>
      <div id="planContainer" class="row">
    </div>
  <script src="./bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
  </body>
</html>
