<!-- 
  WEB322 Assignment 2
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 29/6/2021
  Live demo: https://web322-a2-omar-khan.herokuapp.com/
  github repo: https://github.com/lowsound42/web322a2
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->

<body>
  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div>
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search"
                placeholder="Find your perfect domain">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-sm-20 col-lg-6">
        <img src="./assets/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="800" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">We do hosting stuff</h1>
        <p class="lead">The stuff that we do is so innovative! Buy our stuff. It will definitely be the best stuff
          that you buy.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Learn More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container top-buffer bottom-buffer">
    <div class="row">
      <div class="col-md">
        <div class="card text-center spec-card">
          <div class="card-body spec-card-body">
            <img class="card-img-top spec-image" src="./assets/jj-ying-8bghKxNU1j0-unsplash.jpg" alt="Card image cap">
            <h5 class="card-title">Web Hosting</h5>
            <p class="card-text">Get fast and unlimited web hosting for your site</p>
            <a href="#" class="btn btn-primary">Get Hosting</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center spec-card">
          <div class="card-body spec-card-body">
            <img class="card-img-top spec-image" src="./assets/c-dustin-K-Iog-Bqf8E-unsplash.jpg" alt="Card image cap">
            <h5 class="card-title">Cloud Servers</h5>
            <p class="card-text">Take full control with our fastest virtual servers
            </p>
            <a href="#" class="btn btn-primary">Compare Clouds</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center spec-card">
          <div class="card-body spec-card-body">
            <img class="card-img-top spec-image" src="./assets/kelvin-ang-QvU0LNnr26U-unsplash.jpg"
              alt="Card image cap">
            <h5 class="card-title">Dedicated Servers</h5>
            <p class="card-text">Boost your business with dedicated hardware
            </p>
            <a href="#" class="btn btn-primary">View Servers</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center spec-card">
          <div class="card-body spec-card-body">
            <img class="card-img-top spec-image" src="./assets/markus-winkler-3hBH-ZuvppU-unsplash.jpg"
              alt="Card image cap">
            <h5 class="card-title">Get WordPress</h5>
            <p class="card-text">Manage your WordPress websites easily</p>
            <a href="#" class="btn btn-primary">Get WordPress</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container top-buffer bottom-buffer">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Grow your business</h1>
        <p class="lead">Every business needs an incredible website. We can help you build your online presence!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Learn More</button>
        </div>
      </div>
      <div class="col-sm-20 col-lg-6">
        <img src="./assets/brooke-cagle-ICTKcvnXx_8-unsplash.jpg" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="800" loading="lazy">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-tachometer-alt"></i>
            <h5 class="card-title">Built for speed
            </h5>
            <p class="card-text">Up to 3x faster than competitors.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-gamepad"></i>
            <h5 class="card-title">World’s Best Control Panel
            </h5>
            <p class="card-text">Powered by cPanel with Cloudlinux.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-mouse-pointer"></i>
            <h5 class="card-title">1-Click Installs
            </h5>
            <p class="card-text">Over 300 Apps, including WordPress, Drupal.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-globe-americas"></i>
            <h5 class="card-title">Canadian Geolocation
            </h5>
            <p class="card-text">Get closer to your clients with servers located on the Canadian East & West
              Coasts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-clock"></i>
            <h5 class="card-title">24/7 Expert Assistance
            </h5>
            <p class="card-text">To give you the help you need, when you need it.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-center" style="height: 12rem;">
          <div class="card-body">
            <i class="fas fa-shield-alt"></i>
            <h5 class="card-title">Built-in security
            </h5>
            <p class="card-text">To keep your site safe from hackers & malware.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-sm-20 col-lg-6">
        <img src="./assets/logo_transparent.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">24x7 Service</h1>
        <p class="lead">Reach out today to get started.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
  <script src="./bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>


</body>

</html>