<div class="drop-search">
<div class="drop-search-1"></div>
<form class="search_machine" action="/products" method="POST" enctype="multipart/form-data">
        <label for="type"><i class="fas fa-search"></i><b> Product category </b><i class="fas fa-search"></i> </label>
        <select name="type" class="cate_design" style="width: 450px; ">
            <option value="">All Category</option>
            <option value="suv">SUV</option>
            <option value="sedans">Sedans</option>
            <option value="coupes" }>Coupes</option>
            <option value="carbriolets">Cabriolets</option>
        </select>
        <input type="submit" value="Search">
</form>
<div class="drop-search-2"></div>
</div>

<div class = "product-search-box">


    <div class="colside-products-left"></div>



    
    <div class="column-middle-products">
        <section>

            {{#each data}}
            <div class="row-1">
                <div class="column-1">
                    <div class="card">
                        <img src="/uploads/{{this.pic}}" alt="Best_Sellar" style="width:80%">
                        <div class="container">
                            <h4><b>{{this.pname}}</b></h4>
                            <p><span>CDN$&nbsp</span>{{this.pprice}}</p>

                            <div class="href_buttom_detail_box">
                                <a href="/product_detail/{{this.id}}" class="href_button_detail">detail</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </section>
    </div>

<div class="colside-products-right"></div>
</div>