<div class="welcomebox">
    <div class="colsideWel"></div>

    <div class="columnWel">
        <h1 class="welcome">Welcome {{user.fullName}}To BY Benz Car</h1>
        <h1 class="welcome-1">Be <span class ="strong1">New</span></h1>
        <h1 class="welcome-2">Be <span class ="strong2">Fanstic</span></h1>  
        <h1 class="welcome-3"> Be <span class ="strong3">Car</span></h1>
        <h1 class="welcome-4">Glad to be part of your Luxury Car</h1>

        <div class="goToShop">
            <form class="goBtn" action="/">
                <button>Go to Homepage</button>
            </form>
        </div>
    </div>

    <div class="colsideWel"></div>
</div>